.entire_2 {
    line-height: 1;
    overflow-x: hidden;
}

.term_common {
    display: flex;
    margin: 0 auto;
    padding: 50px 10% 250px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: inherit;
}

.term_common .title h1 {
    text-align: center;
    font-weight: 700;
    padding: 50px 180px;
    font-size: 2rem;
    line-height: 150%;
}

.term_common .section h1 {
    font-weight: 700;
    margin-top: 70px;
    padding: 80px 20px 0;
    font-size: 1.2rem;
    text-align: left;
}

.term_common .section h3 {
    font-weight: 700;
    padding: 50px 0 10px;
    text-align: left;
}

.term_common .section p {
    font-size: 1rem;
    line-height: 150%;
    padding: 10px 21px;
    text-align: left;
}

.term_common .section .inner {
    background-color: white;
    padding: 2% 3%;
    margin: 5px;
}

ul {
    list-style: none;
}

.term_common .section .inner ul li {
    padding: 3px 0;
    line-height: 150%;
    font-size: 1rem;
    text-align: left;
}