.survey_container_box {
    background-color: white;
    width: 680px;
    height: 1080px;
    border-radius: 23px;
    margin-left: 300px;
    margin-top: 30px;
    border: 2px solid rgb(226, 220, 221);
}

.questions h3 {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    margin-bottom: 5px;
}

.question_box {
    background-color: white;
    width: 630px;
    height: 43px;
    border: 1px solid rgb(226, 220, 221);
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 13px;
}

.question_box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-color: #000;
    transition: 0.5s ease;
}

.time{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    width: 575px;
    height: 43px;
    border: 1px solid rgb(226, 220, 221);
    border-radius: 10px;
    margin-left: 27px;
    margin-top: 13px;
    font-size: 17px;
    padding-left: 20px;
}

.time:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-color: #000;
    transition: 0.5s ease;
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    gap: 4px;           
    cursor: pointer;   
}

.completion_btn {
    width: 630px;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(82, 112, 255);
    border: rgb(82, 112, 255);
    color: white;
    margin-top: 32px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}